dist
cabal-dev
*.hi
*.chi
*.chs.h
.virthualenv
xmonad-x86_64-linux
lazy-lock.json
vim/autoload/

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Python
__pycache__/
*.py[cod]
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

# SSL
*.pem
*.cert
*.key
=======
pkgbuild
resources/*~
resources/*.c
src/*.c
src/pamac-daemon
src/pamac-tray
src/pamac-manager
src/pamac-install
src/pamac-updater
src/pamac-refresh
data/polkit/org.manjaro.pamac.policy
po/*.mo
po/*~
po/locale
*.swp
