# mbsyncrc example for Gmail

IMAPAccount ACCOUNT_ALIAS
Host imap.gmail.com
User your.email@gmail.com
PassCmd "pass Email/ACCOUNT_ALIAS" # Or use Pass: password
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore ACCOUNT_ALIAS-remote
Account ACCOUNT_ALIAS

MaildirStore ACCOUNT_ALIAS-local
Path ~/.local/share/mail/ACCOUNT_ALIAS/
Inbox ~/.local/share/mail/ACCOUNT_ALIAS/INBOX
SubFolders Verbatim

Channel ACCOUNT_ALIAS
Far :ACCOUNT_ALIAS-remote:
Near :ACCOUNT_ALIAS-local:
Patterns *
Create Both
Expunge Both
SyncState *

# Repeat for other accounts (e.g. work)
