# mbsyncrc example for Gmail

IMAPAccount personal
Host imap.gmail.com
User your.email@gmail.com
PassCmd "pass Email/personal" # Or use Pass: password
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore personal-remote
Account personal

MaildirStore personal-local
Path ~/.local/share/mail/personal/
Inbox ~/.local/share/mail/personal/INBOX
SubFolders Verbatim

Channel personal
Far :personal-remote:
Near :personal-local:
Patterns *
Create Both
Expunge Both
SyncState *

# Repeat for Work account
