# mbsyncrc example for Gmail

# Personal Account
IMAPAccount personal
Host imap.gmail.com
User your.email@gmail.com
PassCmd "pass Email/personal"
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore personal-remote
Account personal

MaildirStore personal-local
Path ~/.local/share/mail/personal/
Inbox ~/.local/share/mail/personal/INBOX
SubFolders Verbatim

Channel personal
Far :personal-remote:
Near :personal-local:
Patterns *
Create Both
Expunge Both
SyncState *

# Work Account
IMAPAccount work
Host imap.gmail.com
User your.work.email@gmail.com
PassCmd "pass Email/work"
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore work-remote
Account work

MaildirStore work-local
Path ~/.local/share/mail/work/
Inbox ~/.local/share/mail/work/INBOX
SubFolders Verbatim

Channel work
Far :work-remote:
Near :work-local:
Patterns *
Create Both
Expunge Both
SyncState *

# Sync all
Group google
Channel personal
Channel work
