[Desktop Entry]
Name=Hyprland (UWSM)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=~/.config/hypr/hyprland/scripts/start-hyprland.sh
Type=WaylandSession
